*~

/doc/include-stamp
/doc/wo-graph.aux
/doc/wo-graph.cp
/doc/wo-graph.fn
/doc/wo-graph.fns
/doc/wo-graph.html
/doc/wo-graph.ky
/doc/wo-graph.log
/doc/wo-graph.pdf
/doc/wo-graph.pg
/doc/wo-graph.toc
/doc/wo-graph.tp
/doc/wo-graph.vr
/doc/wo-graph.tps
